// Primary Color
$green: #3ecc28;
$green-outline: #2b901c;
$dark-green: darken($green, 20%);
$black: #292929;
$bg-black: #141414;
$white: #fff;
$dark-gray: #454545;
$mid-gray: #9D9D9D;
$gray-white: #f5f5f5;

// Fonts
@font-face {
  font-family: 'Gotham Pro Regular';
  src: url('~@/fonts/GothamPro.eot');
  src: url('~@/fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('~@/fonts/GothamPro.woff') format('woff'),
    url('~@/fonts/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Medium';
  src: url('~@/fonts/GothamPro-Medium.eot');
  src: url('~@/fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('~@/fonts/GothamPro-Medium.woff') format('woff'),
    url('~@/fonts/GothamPro-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Bold';
  src: url('~@/fonts/GothamPro-Bold.eot');
  src: url('~@/fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('~@/fonts/GothamPro-Bold.woff') format('woff'),
    url('~@/fonts/GothamPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}